*.zip
transformers-js*
*.bin
.Python
build/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# models
build*
dist
models*
models/
baseModels/
*/wandb/

# data
SQuAD/
customData/
data/
!nkjv.csv

# latex
*/*.out
*/*.fls
*/*.aux
*/*.log
*/*.fdb_latexmk
*/*.syntex.gz