*.zip
transformers-js*
*.bin
.Python
build/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# models
build*
dist
models*
models/
*/wandb/

# data
SQuAD/
customData/
# we're versioning && sharing
# data for this project
data/logs/
src/log/
!nkjv.csv

# latex
*/*.out
*/*.fls
*/*.blg
*/*.bbl
*/*.aux
*/*.log
*/*.fdb_latexmk
*/*.synctex.gz
*/*.synctex.gz*
# ignore the pdf too so that we have less merge conflicts
# the pdf can always be regenerated
*/main.pdf