*.zip
transformers-js*
*.bin
.Python
build/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# models
build*
dist
models*
models/
baseModels/
*/wandb/

# data
SQuAD/
customData/
# we're versioning && sharing
# data for this project
data/logs/
!nkjv.csv

# latex
*/*.out
*/*.fls
*/*.blg
*/*.bbl
*/*.aux
*/*.log
*/*.fdb_latexmk
*/*.synctex.gz